{% extends 'base.html' %}
{% block content %}
<h3>Mahsulot sotish</h3>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}  <input type="hidden" name="next" value="{{ request.GET.next|default:request.META.HTTP_REFERER }}">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        // Django formasi yaratgan 'select' elementiga Select2 ni biriktiramiz
        $('.select2-product').select2({
            placeholder: "Mahsulot nomini yoki kodini yozing...",
            allowClear: true
        });
    });
</script>
{% endblock content %}