<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}"><h2>Home</h2></a>
        {% if user.is_authenticated %}
            <h4>Logged in as >> {{ user.get_full_name }}</h4>
            <a href="{% url 'profile' %}"> | Profile | </a>
            <a href="{% url 'profile-update' %}"> | Profile yangilash | </a>
            <a href="{% url 'sold-products' %}">Sotilganlar</a>
        {% else %}
            <a href="{% url 'login' %}"> | Login | </a>
            <a href="{% url 'signup' %}"> | Signup | </a>
        {% endif %}


        <br>
        <a href="{% url 'product-list' %}">Mahsulotlar</a>
        <a href="{% url 'skalat-list' %}">Skladlar</a>


        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Chiqish</button>
        </form>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>